{% extends 'base.html' %}
{% load  static %}

{% block content %}
<section class="breadcumb_top_area">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="bread_top_box">
					<h2>Shopping Cart</h2>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="main_cart_area">
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-sm-8 col-xs-12">
				<div class="main_cart_left">
					<div class="cart_heading">
						<div class="h_item1">
							<p>product</p>
						</div>
						<div class="h_item2">
							<p>Price</p>
						</div>
						<div class="h_item3">
							<p>Quantity</p>
						</div>
						<div class="h_item4">
							<p>total</p>
						</div>
					</div>

					{% for item in cart %}
					{% with product=item.product %}
					<div class="cart_item" name="{{product.id}}">
						<div class="cart_item_img">
							<a href="{{ product.get_absolute_url }}"><img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'shop/no_image.png' %}{% endif %}" width="300" height="150" alt="" /></a>
							<p style="margin:3px; padding: 3px; display:inline-block; overflow:hidden; margin-bottom: 0px;">
								<font typeof="bold">
									<a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
								</font>
							</p>
						</div>
						<div class="cart_price">
							{% if product.price_sale and product.price_sale < product.price %}
								<p><del> ${{ product.price }}</del></p>  ${{ product.price_sale }}
                    		{% else %}
								<p>${{ product.price }}</p>
                    		{% endif %}
						</div>
						<div class="cart_quantity">
							<p> {{ item.quantity }}</p>
						</div>
						<div class="cart_total">
							<p name="total-{{product.id}}">${{ item.get_cost }}</p>
							<span><a href="{% url 'cart:cart_remove' product.id %}" name="cart_remove" about="{{product.id}}"><i class="fa fa-close"></i></a></span>
						</div>

					</div>
					{% endwith %}
        			{% endfor %}

				</div>
			</div>
			<div class="col-md-3 col-sm-4 col-xs-12">
				<div class="main_cart_right">
					<div class="product_form_total">

						<div class="panel-group" id="home-accordion" role="tablist" aria-multiselectable="true">
							<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingTwo">
								<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#home-accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									Cart totals
									<span class="floatright"><i class="fa fa-plus"></i></span>
								</a>
								</h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
								<div class="panel-body cart_p_body">
								<div class="c_single_item">
									<p>SubTotal</p>
									<span>${{ cart.get_total_price }}</span>
								</div>
								<div class="c_single_item cart_last_total">
									<p>Shipping Charge</p>
									<span>From (10) Up to (40)</span>
								</div>
								<div class="c_total_item sp_single_item">
									<p>Total</p>
									<span>${{ cart.get_total_price }}</span>+(10-40)
								</div>
								</div>
							</div>
							</div>
						</div>
						<input type="submit" value="Proceed to checkout" onclick="window.location='{% if request.user.is_authenticated %}{% url 'order:order_creation' %}{% else %}{% url 'accounts:login' %}{% endif %}';">
					</div>
				</div>
			</div>
		 <a href="{% url 'cart:cart_delete_all' %}" class="delete-cart" name="extra"> delete all cart </a>
		</div>
	</div>
</section>
{% endblock %}