{% load static %}

<link rel="shortcut icon" type="image/ico" href="{% static 'images/brand.png' %}"/>
<!-- Font awesome css -->
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<!-- Owl carousel css -->
<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.transitions.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
<!-- Revolution slider css -->
<link rel="stylesheet" href="{% static 'js/rs-plugin/css/settings.css' %}"/>
<!-- Bootstrap css -->
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<!-- Custom css -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/css/responsive.css' %}">