<footer class="entire_footer_area">
    <div class="footer_area">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single_widget">
                        <h5>my account</h5>
                        <div class="wid_line"></div>
                        <ul class="widget_nav">
                            <li><a href="">My Account</a></li>
                            <li><a href="">Personal Information</a></li>
                            <li><a href="">Addresses</a></li>
                            <li><a href="">Discounts</a></li>
                            <li><a href="">Order History</a></li>
                            <li><a href="">Your Vouchers</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single_widget">
                        <h5>customer service</h5>
                        <div class="wid_line"></div>
                        <ul class="widget_nav">
                            <li><a href="">Help & Contact</a></li>
                            <li><a href="">Shipping & Taxes</a></li>
                            <li><a href="">Return Policy</a></li>
                            <li><a href="">Careers</a></li>
                            <li><a href="">Affliates</a></li>
                            <li><a href="">Legal Notice</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single_widget">
                        <h5>contact Info</h5>
                        <div class="wid_line"></div>
                        <address>
                            Address : 44 New Design Street,<br>
                            Melbourne 005<br>
                            Phone : (01) 800 433 633<br>
                            Email : info@Example.com
                        </address>
                        <ul class="wid_social">
                            <li><a class="fa fa-facebook" href=""></a></li>
                            <li><a class="fa fa-twitter" href=""></a></li>
                            <li><a class="fa fa-google-plus" href=""></a></li>
                            <li><a class="fa fa-pinterest" href=""></a></li>
                            <li><a class="fa fa-rss" href=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom_area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="footer_bottom">
                        <p>Copyright &copy; 2015 . All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
