{% load static %}

<a id="button-to-top"></a>
<div class="outer" id="Clickable"></div>
<div class="loader-mask">
    <div class="loader">
        <div></div>
        <div></div>
    </div>
</div>

<!--Side nav-bar-->
<div id="mySidenav" class="sidenav">
    <div class="toggle-dark-light">
        <input class="container_toggle" type="checkbox" id="switch" name="mode">
        <label for="switch">Toggle</label>
    </div>
    <a href="javascript:void(0)" class="closebtn" id="closeNav">&times;</a>
    <div class="header_top_right login-side-bar visible-xs ">
        <p>
            {% if not request.user.is_authenticated %}
            <a href="{% url 'accounts:login' %}">Login</a>/
            <a class="RegPage" href="{% url 'accounts:registration' %}">Sign up</a>
            {% else %}
            <a class="RegPage" href="{% url 'accounts:logout' %}">Logout</a>
            {% endif %}
        </p>
    </div>
    <div class="info">
        <img src="{% static 'images/comment1.png' %}" alt="User Image" >
        <a href="#">{% if request.user.is_authenticated %} {{ request.user.get_full_name }} {% endif %}</a>
        <a href="#">{% if request.user.is_authenticated %} {{ request.user.username }} {% endif %}</a>
    </div>
    {% if request.user.is_authenticated %}
    <a href="{% url 'order:order_list' %}">Orders</a>
    <a href="category-1.html">Shop</a>
    <a href="contact.html">Contact</a>
    <a href="faqs.html">FAQs</a>
    {% endif %}
</div>

<!--Side nav-bar-->
<section class="nav_area" >
    <div class="contain-nav" id="navbar">
        <div class="container">
            <div class="row" >
                <div class="col-lg-3 col-md-3 col-sm-3 mobile-edit">
                    <div class="header_center">
                        <span id="openNav">&#9776; </span> <a href="{% url 'shop:home' %}"><img src="{% static 'images/brand.png' %}" alt="Site Logo" /></a>
                    </div>
                </div>
                <div class="nav_left col-lg-3 col-md-2 col-sm-2" id="mobo">
                    <a href="{% url 'shop:product_list' %}">category</a>
                    <div class="cat_mega_menu">
                        {% for main_cat in main_categories%}
                        <div class="{% if forloop.counter == 1 %}cat_left{% elif foloop.counter == 2 %}cat_middle{% else %}cat_middle_right{% endif %}">
                            <h5>{{ main_cat.name }}</h5>
                            <div class="cat_menu_line"></div>
                            <ul class="cat_nav">
                                {% for sub_cat in main_cat.sub_categories %}
                                <li><a href="{{ sub_cat.link }}">{{ sub_cat.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endfor %}

                    </div>
                </div>
                <div class="nav_center col-lg-6 col-md-7 col-sm-6">
                    <div class="header_top_right floatright hidden-xs">
                        <p>
                        {% if not request.user.is_authenticated %}
                            <a href="{% url 'accounts:login' %}">Login</a>/
                            <a class="RegPage" href="{% url 'accounts:registration' %}">Sign up</a>
                        {% else %}
                            {% if request.user.is_superuser %} <a class="RegPage" href="{% url 'admin:index' %}">Admin</a>{% endif %}
                            <a class="RegPage" href="{% url 'accounts:logout' %}">Logout</a>
                        {% endif %}</p>
                    </div>
                    <div class="row checkout-mobo">
                        <div class="header_right col-lg-5 col-md-6">
                            <ul class="checkout hidden-sm hidden-xs">
                                <li class="wishlist "><a href="{% url 'wish:wish_detail' %}"><i class="fa fa-heart-o"></i>wishlist</a></li>
                                <li class="mobi_right_li "><a href="{% url 'cart:cart_detail' %}"><i class="fa fa-shopping-cart"></i>Cart Items</a></li>
                            </ul>
                            <ul	class="checkout visible-sm visible-xs">
                                <li class="wishlist"><a href="cart.html"><i class="fa fa-heart-o"></i></a></li>
                                <li class="mobi_right_li"><a href="checkout.html"><i class="fa fa-shopping-cart"></i></a></li>
                                <li class="find"><span><i class="fa fa-search"></i></span></li>
                                <li class="hidden close-search"><span><i class="fa fa-close"></i></span></li>
                            </ul>
                            <div class="w_likes hidden-sm hidden-xs">
                                <span>{{ wish|length }}</span>
                            </div>
                            <div class="w_likes hidden-sm hidden-xs" style="margin-left:100px;">
                                <span>{{ cart|length }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
