{% extends 'base.html' %}
{% load  static %}
{% load crispy_forms_tags %}

{% block content %}
<form method="POST" class="contact-form" style="width:65%; align:center; margin: 0 auto; margin-top:35px">
   <h4 style="text-align:center;"> Login </h4>
   {% csrf_token %}
   {{ form|crispy }}
   <div class="d-grid" style="margin-top:10px;"><button class="btn btn-dark btn-lg " id="submitButton" type="submit">login</button></div>
</form>
{% endblock %}