{% extends 'base.html' %}
{% load  static %}


{% block extra_style %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<style>
.jumbotron{
    position: relative;
    width: 50%;
    align: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

.container_1 {
    width:100%;
}
.container_2{
    width: 100%;
}
.alert{
    position: sticky;
    margin-top: 0px;
    top: 0px;
}
</style>
{% endblock %}

{% block content %}
{{ monthly_sales_url|json_script:"monthly_sales_url" }}
{{ sub_category_sales_url|json_script:"sub_category_sales_url" }}
{{ main_category_sales_url|json_script:"main_category_sales_url" }}
<div  class ="jumbotron " >
  <div class="alert alert-primary mt-0" role="alert"> Sales Curve</div>
  <div class="container_1" >
      <canvas id="sales-curve" ></canvas>
  </div>
</div>
<div  class ="jumbotron ">
    <div class="alert alert-primary mt-0" role="alert"> Sub Category Percentage</div>
    <div class="container_2" style="width=10%;">
        <canvas id="sub-category-percentage" ></canvas>
    </div>
</div>
<div  class ="jumbotron ">
    <div class="alert alert-primary mt-0" role="alert"> Main Category Percentage</div>
    <div class="container_2" style="width=10%;">
        <canvas id="main-category-percentage" ></canvas>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js" integrity="sha256-cHVO4dqZfamRhWD7s4iXyaXWVK10odD+qp4xidFzqTI=" crossorigin="anonymous"></script>
<script src="{% static 'js/charts.js' %}"></script>
{% endblock %}
