{% extends 'base.html' %}
{% load  static %}

{% block content %}
<section class="breadcumb_top_area">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="bread_top_box">
					<h2>Wish List</h2>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="main_cart_area">
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-sm-8 col-xs-12">
				<div class="main_cart_left">
					<div class="cart_heading">
						<div class="h_item1">
							<p>Product</p>
						</div>
						<div class="h_item2">
							<p>Name</p>
						</div>
						<div class="h_item3">
							<p>Price</p>
						</div>
					</div>

					{% for product in wish %}
					<div class="cart_item">
						<div class="cart_item_img">
							<img src="{% if product.image %} {{ product.image.url }} {% else %} {% static ' images/cart_img1.jpg' %} {% endif %}" alt="" />
							<p>{{ product.name }}</p>
						</div>
						<div class="cart_price">
							<p>{{ product.short_description }}</p>
						</div>

						<div class="cart_total">
							<p>{{ product.get_price }}</p>
							<span><a href="{% url 'wish:wish_remove' product.id %}"> <i class="fa fa-close"></i></a></span>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>	
{% endblock %}