{% extends 'base.html' %}
{% load  static %}

{% block content %}
<!-- Gallery Section -->
<section class="gray_tshirt_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="gray_tshirt">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="single_product_image_tab">
                                <div role="tabpanel">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs product_detail_zoom_tab" role="tablist" id="demo1">
                                        <li role="presentation" class="active">
                                            <a href="#home" aria-controls="main" role="tab" data-toggle="tab">
                                                <div class="small_img">
                                                    <img style="height: 70px; width: 75px;" src="{% if product_obj.image %} {{ product_obj.image.url }} {% else %} {% static 'images/small_img1.jpg' %} {% endif %}" alt="" />
                                                </div>
                                            </a>
                                        </li>
                                        {% for img in product_obj.images.all %}
                                        <li role="presentation">
                                            <a href="#home" aria-controls="img{{ forloop.counter}}" role="tab" data-toggle="tab">
                                                <div class="small_img">
                                                    <img style="height: 70px; width: 75px;" src="{% if img.image %} {{ img.image.url }} {% else %} {% static 'images/small_img1.jpg' %} {% endif %}" alt="" />
                                                </div>
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    <!-- Tab panes -->
                                    <div class="tab-content traverse">
                                        <div role="tabpanel" class="tab-pane" id="main">
                                            <div class="single_p_image">
                                                <a href="{% if product_obj.image %} {{ product_obj.image.url }} {% else %} {% static 'images/small_img1.jpg' %} {% endif %}" data-lightbox="image-1" data-title="My caption">
                                                    <img style="height: 560px; width: 650px;" src="images/product-plus.png" alt="" />
                                                </a>
                                                <img style="height: 560px; width: 650px;" id="zoom_01" src="{% if product_obj.image %} {{ product_obj.image.url }} {% else %} {% static 'images/small_img1.jpg' %} {% endif %}" data-zoom-image="images/single-large.jpg" alt=""/>
                                            </div>
                                        </div>
                                        {% for img in product_obj.images.all %}
                                        <div role="tabpanel traverse" class="tab-pane" id="img{{ forloop.counter}}">
                                            <div class="single_p_image">
                                                <a style="height: 560px; width: 650px;" href="{% if img.image %} {{ img.image.url }} {% else %} {% static 'images/small_img1.jpg' %} {% endif %}" data-lightbox="image-1" data-title="My caption"><img src="images/product-plus.png" alt="" /></a>
                                                <img style="height: 560px; width: 650px;" id="zoom_{{ forloop.counter }}" src="{% if img.image %} {{ img.image.url }} {% else %} {% static 'images/small_img1.jpg' %} {% endif %}" data-zoom-image="images/single-large1.png" alt=""/>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="product_detail_heading">
                                <div class="detail_heading_left">
                                    <h3>{{ product_obj.name }}</h3>
                                    <div class="old_price_gray"><p> ${{ product_obj.get_price }} </p></div>
                                    {% if product_obj.in_sale %}<div class="new_price_gray"><del> $ {{ product_obj.price }} </del></div>{% endif %}
                                </div>
                            </div>
                            <div class="panel-group product_accordion" id="home-accordion-single" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default product_default">
                                    <div class="panel-heading product_accordion_heading" role="tab" id="headingOneP">
                                        <h4 class="panel-title product_accordion_head">
                                            <a data-toggle="collapse" data-parent="#home-accordion-single" href="#collapseOneP" aria-expanded="true" aria-controls="collapseOneP">
                                                Description
                                                <span class="floatright"><i class="fa fa-minus"></i></span>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOneP" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOneP">
                                        <div class="panel-body product_ac_body">
                                            <h4>{{ product_obj.short_description }}</h4>
                                            <p>{{ product_obj.long_description|safe }}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default product_default">
                                    <div class="panel-heading product_accordion_heading" role="tab" id="headingThreeP">
                                        <h4 class="panel-title product_accordion_head">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#home-accordion-single" href="#collapseThreeP" aria-expanded="false" aria-controls="collapseThreeP">
                                                delivery & returns
                                                <span class="floatright"><i class="fa fa-plus"></i></span>
                                            </a>
                                        </h4>
                                    </div>

                                    <div id="collapseThreeP" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThreeP">
                                        <div class="panel-body product_accordion_head">
                                            <div class="single_color">
                                                <div class="color_heading"><h5>Quantity</h5></div>
                                                <div class="color_detail">
                                                    <form action="{% url 'cart:cart_update_quantity' product_obj.id %}">
                                                        <div class="size_down">
                                                            <input type="number" size="4" min="1" class="input-text qty text" title="Qty" value="1" name="quantity" max="119" step="1">
                                                        </div>
                                                        <div class="submit_btn form-group submitRow">
                                                            <input type="submit" name="submit" value="ADD To Cart" />
                                                        </div>
                                                    </form>
                                                    <div class="size_heart">
                                                        <a href="{% url 'wish:wish_add'  product_obj.id %}"><img src="{% static 'images/Product-Details-heart.png' %}" alt="" /></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Related Section -->
<section class="main_category_area product_page_caro">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="main_category_right product-box">
                <h3 class="product">related products</h3>
                <div class="multi_line"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div id="owl-example-single" class="owl-carousel">
                              {% for product in related_products%}
                                <div class="item">
                                    <div class="item-img">
                                        <img src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'images/t_item2.jpg' %} {% endif %}" alt="" />
                                        <div class="tr-add-cart">
                                            <ul>
                                                <li><a class="fa fa-shopping-cart tr_cart" href="{% url 'cart:cart_add' product.id %}"></a></li>
                                                <li><a class="tr_text" href="{% url 'cart:cart_add' product.id %}">ADD TO CART</a></li>
                                                <li><a class="fa fa-heart tr_heart" href="{% url 'wish:wish_add' product.id %}"></a></li>
                                                <li><a class="fa fa-search tr_search" href="{{ product.get_absolute_url}}"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="item-new">
                                         {% if product.is_new %}<p>New</p>{% endif %}
                                        {% if product.in_sale %}<span>-{{ product.sale_percentage }}%</span>{% endif %}
                                    </div>
                                    <div class="item-sub">
                                        <a href="{{ product.get_absolute_url}}"><h5>{{ product.name }}</h5></a>
                                         <p>$ {{ product.get_price }}<span>{% if product.in_sale %}<del>$ {{ product.price }}</del>{% endif %}</span></p>
                                    </div>
                                </div>
                              {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}