{% extends 'base.html' %}
{% load  static %}

{% block content %}
<section class="main_category_area">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8 col-xs-12 filter-toggle-main">
                <div class="main_category_right">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="main_cat_item">
                                {% for product in products %}
                                <div class="item">
                                    <div class="item-img">
                                        <img style="height: 300px; width: 350px;" src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'images/t_item2.jpg' %} {% endif %}" alt="" />
                                        <div class="tr-add-cart">
                                            <ul>
                                                <li><a class="fa fa-shopping-cart tr_cart" href="{% url 'cart:cart_add' product.id %}"></a></li>
                                                <li><a class="tr_text" href="{% url 'cart:cart_add' product.id %}">ADD TO CART</a></li>
                                                <li><a class="fa fa-heart tr_heart" href="{% url 'wish:wish_add' product.id %}"></a></li>
                                                <li><a class="fa fa-search tr_search" href="{{ product.get_absolute_url }}"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="item-new">
                                        {% if product.is_new %}<p>New</p>{% endif %}
                                        {% if product.in_sale %}<span>-{{ product.sale_percentage }}%</span>{% endif %}
                                    </div>
                                    <div class="item-sub">
                                        <a href="{{ product.get_absolute_url}}"><h5> {{ product.name }}</h5></a>
                                        <p>$ {{ product.get_price }}<span>{% if product.in_sale %}<del>$ {{ product.price }}</del>{% endif %}</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% if is_paginated %}
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 pagi-resp">
                            <div class="pagi_line"></div>
                            <div class="pagi_ul">
                                <ul id="pagination">
                                    {% if page_obj.has_previous %}
                                    <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                                    {% endif %}
                                    {% for page in page_obj.paginator.page_range %}
                                    <li><a href="?page={{page}}">1</a></li>
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                    <li><a href="">Next</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}