{% extends 'base.html' %}
{% load  static %}
{% load crispy_forms_tags %}

{% block content %}
<section class="contact_banner_area">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="contact_banner">
					<h2>Contact Us</h2>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="contact_p_area">
    <div class="container">
        <div class="row">

            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="contact_box_left">
                    <h4>Leave A message</h4>
                    <div class="multi_line"></div>
                </div>
                <form action="contact_process.php" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="submit_btn form-group submitRow">
                        <input type="submit" name="submit" value="Submit form" />
                    </div>
                </form>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="contact_box_right">
                    <h5>Address</h5>
                    <p>44 new Design Street, Melbourne 005 <br>Australia 300</p>
                    <div class="dotted_line"></div>

                    <h5>Contact info</h5>
                    <p>Info@Example.com</p>
                    <a href="tel:01(800)433633">01 (800) 433 633</a>
                    <div class="dotted_line"></div>

                    <h5>Working hours</h5>
                    <p>Daily 10.00 to 22.00    ( Sunday Avilable ) </p>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}