{% extends 'base.html' %}
{% load  static %}

{% block content %}
<section class="contact_banner_area">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="contact_banner">
					 <h1>FAQs</h1>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="faqContent">
    <div class="container">
        <div class="faqs">
            <h1>FAQs</h1>

            {% for cat in category_questions %}
            <h3>{{ cat.name }}</h3>
            {% for q in cat.questions %}
            <div>
                <input type="checkbox" id="question1" name="q"  class="questions">
                <div class="plus">+</div>
                <label for="question1" class="question">
                   {{ q.question }}
                </label>
                <div class="answers">
                    <p> {{ q.answer }} </p>
                </div>
            </div>
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}