<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-NRR72CP8LE"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);
            gtag('js', new Date());
            gtag('config', 'G-NRR72CP8LE');
        </script>
        <title>{% block title %} E-Commerce{% endblock %}</title>
        <meta charset="UTF-8">
        {% include 'base/css.html' %}
        {% block extra_style %} {% endblock %}
    </head>
    <body>
        <!-- Nav -->
        {% include 'base/nav.html' %}

        <!-- Content -->
        <div id="page-container" style="min-height:100vh;">
            {% include 'base/messages.html' %}
		    {% block content %}
		    {% endblock %}
        </div>

        <!-- FOOTER -->
        {% include 'base/footer.html' %}

        <!-- SCRIPTS -->
        {% include 'base/js.html' %}
        {% block extra_js %} {% endblock %}
    </body>
</html>