{% extends 'base.html' %}
{% load  static %}

{% block content %}
<!-- Carousel Section -->
<div class="slider-wrap">
    <div class="fullwidthbanner-container" >
        <div class="fullwidthbanner">
            <ul>
                {% for img in carousel_images %}
                {% if img.image %}
                <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
                    <img src="{{ img.image.url }}" alt="slide" >

                    <div class="tp-caption large_black sfr" data-x="120" data-y="140" data-speed="1100" data-start="1100" data-easing="easeInOutBack"
                        style="font-size: 95px; font-weight: normal; text-transform: inherit; color: #cc17f6;font-family: manustrialmanustrial;font-style:italic;text-shadow:0px 0px 3px #000;">
                        Summer
                    </div>
                    <div class="tp-caption large_black sfr" data-x="120" data-y="230" data-speed="1100" data-start="1400" data-easing="easeInOutBack"
                        style="font-family: 'Montserrat', sans-serif; font-size: 68px; font-weight: 700; line-height:80px;text-transform: uppercase; color: #961db4; text-shadow: 0 0 3px #fff">
                        20015 collection
                    </div>
                    <div class="tp-caption large_black sfr carousel-caption-inner" data-x="120" data-y="300" data-speed="1100" data-start="1400" data-easing="easeInOutBack">
                        <img src="images/sep-b.png" alt="" />
                    </div>
                    <div class="tp-caption lfb carousel-caption-inner" data-x="120" data-y="350" data-speed="1300" data-start="1700" data-easing="easeInOutBack"
                        style="font-family: cabin Sans; font-size: 17px; font-weight: bold; text-transform: uppercase; color: #961db4;">
                        get upto 50% offer for order over $499!
                    </div>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<!-- Products Section -->
<section class="trending_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="trending_box">
                    <h2>Trending</h2>
                    <div class="multi_line"></div>
                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#home" aria-controls="index" role="tab" data-toggle="tab">Recent</a><span>x</span></span></li>
                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">On sale</a><span>x</span></li>
                            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Best selling</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">

                            <div role="tabpanel" class="tab-pane active" id="index">
                                <div id="owl-example1" class="owl-carousel">
                                    {% if recent_products %}
                                    {% for product in recent_products %}
                                    <div class="item">
                                        <div class="item-img">
                                            <img style="height: 300px; width: 350px;" src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'images/t_item2.jpg' %} {% endif %}" alt="" />
                                            <div class="tr-add-cart">
                                                <ul>
                                                    <li><a class="fa fa-shopping-cart tr_cart" href="{% url 'cart:cart_add' product.id %}"></a></li>
                                                    <li><a class="tr_text" href="{% url 'cart:cart_add' product.id %}">ADD TO CART</a></li>
                                                    <li><a class="fa fa-heart tr_heart" href="{% url 'wish:wish_add' product.id %}"></a></li>
                                                    <li><a class="fa fa-search tr_search" href="{{ product.get_absolute_url }}"></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="item-new">
                                            <p>New</p>
                                            {% if product.in_sale %}<span>-{{ product.sale_percentage }}%</span>{% endif %}
                                        </div>
                                        <div class="item-sub">
                                            <a href="{{ product.get_absolute_url}}"><h5>{{ product.name }}</h5></a>
                                            <p>${{ product.get_price }} {% if product.in_sale %}<span><del> ${{ product.price }} </del></span>{% endif %}</p>
                                        </div>
                                    </div>
                                    {% endfor  %}
                                    {% endif %}
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="profile">
                                <div id="owl-example2" class="owl-carousel">
                                    {% if in_sale_products %}
                                    {% for product in in_sale_products %}
                                    <div class="item">
                                        <div class="item-img">
                                            <img style="height: 300px; width: 350px;" src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'images/t_item2.jpg' %} {% endif %}" alt="" />
                                            <div class="tr-add-cart">
                                                <ul>
                                                    <li><a class="fa fa-shopping-cart tr_cart" href="{% url 'cart:cart_add' product.id %}"></a></li>
                                                    <li><a class="tr_text" href="{% url 'cart:cart_add' product.id %}">ADD TO CART</a></li>
                                                    <li><a class="fa fa-heart tr_heart" href="{% url 'wish:wish_add' product.id %}"></a></li>
                                                    <li><a class="fa fa-search tr_search" href="{{ product.get_absolute_url }}"></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="item-new">
                                            <p>New</p>
                                            {% if product.in_sale %}<span>-{{ product.sale_percentage }}%</span>{% endif %}
                                        </div>
                                        <div class="item-sub">
                                            <a href="{{ product.get_absolute_url}}"><h5>{{ product.name }}</h5></a>
                                            <p>${{ product.get_price }} {% if product.in_sale %}<span><del> ${{ product.price }} </del></span>{% endif %}</p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="messages">
                                <div id="owl-example3" class="owl-carousel">
                                    {% if best_seller_products %}
                                    {% for product in best_seller_products %}
                                    <div class="item">
                                        <div class="item-img">
                                            <img style="height: 300px; width: 350px;" src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'images/t_item2.jpg' %} {% endif %}" alt="" />
                                            <div class="tr-add-cart">
                                                <ul>
                                                    <li><a class="fa fa-shopping-cart tr_cart" href="{% url 'cart:cart_add' product.id %}"></a></li>
                                                    <li><a class="tr_text" href="{% url 'cart:cart_add' product.id %}">ADD TO CART</a></li>
                                                    <li><a class="fa fa-heart tr_heart" href="{% url 'wish:wish_add' product.id %}"></a></li>
                                                    <li><a class="fa fa-search tr_search" href="{{ product.get_absolute_url }}"></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="item-new">
                                            {% if product.is_new %}<p>New</p>{% endif %}
                                            {% if product.in_sale %}<span>-{{ product.sale_percentage }}%</span>{% endif %}
                                        </div>
                                        <div class="item-sub">
                                            <a href="{{ product.get_absolute_url}}"><h5>{{ product.name }}</h5></a>
                                            <p>${{ product.get_price }} {% if product.in_sale %}<span><del> ${{ product.price }} </del></span>{% endif %}</p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
