
{% extends "base.html" %}
{% block content %}
<style>
    textinput textInput{
		width:450px;
    }
    .breadcumb_top_area .row, .checkout_area .row{
    	float:left
    }
</style>
<body>
<section class="breadcumb_top_area">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="bread_top_box">
					<h2>Checkout</h2>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="checkout_area">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="checkout_left">
					</div>
					<div class="dotted_line"></div>
					<div class="shipping_form">
						<form action="." method="post" class="order-form-creation">
							{{ form.as_p }}
							{% csrf_token %}
						</form>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-sm-4 col-xs-12" style="margin-left: 470px;">
				<div class="checkout_right">
					<h4>Review of Your Order</h4>

					<div class="product_form_total">
						<div class="c_main_item">
							<p>Product</p>
							<span>Total</span>
						</div>

					 {% for i in cart %}
						<div class="c_single_item">
							<p>{{ i.product.name }}</p>
							<span>${{ i.get_cost }}</span>
						</div>
					  {% endfor %}

						<div class="c_total_item sp_single_item">
							<p>Order Total</p>
							<span>$${{ cart.get_total_price }}</span>
						</div>

						<div class="checkbox">
							<label>
							  <input type="checkbox"> I have Read & Accept <span>Terms & Conditions</span>
							</label>
						</div>
						<input type="submit" value="Place order now"/>
					</div>
				</div>
			</div>
		</div>
</section>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script>
	$('input[value="Place order now"]').click(function (){
		$(".order-form-creation").submit()
	})
</script>
{% endblock %}