{% extends "base.html" %}

{% block content %}
<section class="breadcumb_top_area">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="bread_top_box">
					<h2>Installment</h2>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="checkout_area">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="checkout_left"></div>
                <div class="dotted_line"></div>
                <div class="shipping_form">
                    <form action="." method="post" class="order-form-creation">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <input type="submit" value="Save"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}