{% extends "base.html" %}

{% block content %}
<table class="table table-striped" style="width:85%; align:center; margin: 0 auto; margin-top:35px;">
    <thead>
    <tr>
        <th scope="col">N</th>
        <th scope="col">Postal Code</th>
        <th scope="col">Location</th>
        <th scope="col">Payment</th>
        <th scope="col">Status</th>
        <th scope="col">Total</th>
        <th scope="col">Shipping Charge</th>
        <th scope="col">Delivered</th>
        <th scope="col">Delivered Date</th>
        <th scope="col">Created</th>
        <th scope="col">Updated</th>
        <th scope="col">Detail</th>
        <th scope="col">Edit</th>
        <th scope="col">Return</th>
    </tr>
    </thead>
    <tbody>
    {% for order in orders %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ order.postal_code }}</td>
        <td>{{ order.location }}</td>
        <td>{{ order.payment_method }}</td>
        <td>{{ order.status }}</td>
        <td>{{ order.get_total_order_cost }}</td>
        <td>{{ order.shipping_charge }}</td>
        <td>{{ order.delivered }}</td>
        <td>{% if order.delivered_date %} {{ order.delivered_date }} {% else %} - {% endif %}</td>
        <td>{{ order.created }}</td>
        <td>{{ order.updated }}</td>
        <td><a href="{{ order.get_absolute_url }}">more</a></td>
        <td><a href="{{ order.get_items_url }}">edit</a></td>
        <td><a href="{% url 'order:order_items_return' order.id %}">more</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
