{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<form method="POST" class="contact-form" style="width:65%; align:center; margin: 0 auto; margin-top:35px">
   <h4 style="text-align:center;"> Return Order Products </h4>
   {% csrf_token %}
   {{ form.as_p }}
   <div class="d-grid" style="margin-top:10px;"><button class="btn btn-dark btn-lg" type="submit">Return</button></div>
</form>
{% endblock %}