{% extends 'base.html' %}
{% load static %}

{% block content %}
<form method="post" enctype="multipart/form-data" style="width:80%; align:center; margin: 0 auto; margin-top: 20px;">
    {% csrf_token %}
    {{ form.management_form }}
    {{ form.non_form_errors.as_ul }}
    <table id="formset" class="form">
        {% for single_form in form.forms %}
        {% if forloop.first %}
        <thead>
            <tr>
                {% for field in single_form.visible_fields %}
                <th>{{ field.label|capfirst }}</th>
                {% endfor %}
            </tr>
        </thead>
        {% endif %}
        <tr class="{% cycle row1 row2 %}">
            {% for field in single_form.visible_fields %}
            <td>
                {% if forloop.first %}
                    {% for hidden in single_form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                {% endif %}
                {{ field.errors.as_ul }}
                {{ field }}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <br>
    <button type="submit" class="btn btn-dark btn-lg " style="align:center; margin: 0 auto; margin-left: 270px; margin-top:20px;">Save </button>
</form>
{% endblock %}